<div class="card shadow border-warning mb-4">
  <div class="card-header bg-warning text-dark">
    <h4 class="mb-0"><i class="bi bi-truck"></i> Recepción de Mercadería (Inbound)</h4>
  </div>
  
  <div class="card-body">
    
    <form (ngSubmit)="onReceive()" class="row g-3">
      
      <div class="col-md-6">
        <label class="form-label">SKU Producto</label>
        <input type="text" class="form-control" [(ngModel)]="receptionData.productSku" name="sku" placeholder="Ej: TV-LG-65" required>
      </div>
      
      <div class="col-md-3">
        <label class="form-label">Cantidad</label>
        <input type="number" class="form-control" [(ngModel)]="receptionData.quantity" name="qty" required>
      </div>

      <div class="col-md-3">
        <label class="form-label">Ubicación Destino</label>
        <input type="text" class="form-control" [(ngModel)]="receptionData.locationCode" name="loc" placeholder="Ej: A-01-01" required>
      </div>

      <div class="col-md-6">
        <label class="form-label">Lote (Batch)</label>
        <input type="text" class="form-control" [(ngModel)]="receptionData.batchNumber" name="batch" placeholder="LOTE-2024">
      </div>

      <div class="col-md-6">
        <label class="form-label">Vencimiento</label>
        <input type="date" class="form-control" [(ngModel)]="receptionData.expiryDate" name="expiry">
      </div>

      <div class="col-12 text-end">
        <button type="submit" class="btn btn-dark">
          Generar Entrada
        </button>
      </div>
    </form>

    <div *ngIf="errorMessage" class="alert alert-danger mt-3">
      {{ errorMessage }}
    </div>

    <div *ngIf="generatedTicket" class="mt-4 p-4 bg-light border border-2 border-dark rounded text-center position-relative">
      <span class="badge bg-success position-absolute top-0 start-50 translate-middle">
        ¡Recepción Exitosa!
      </span>
      
      <h5 class="text-muted text-uppercase mb-1">License Plate Number (LPN)</h5>
      <h2 class="display-6 fw-bold text-dark">{{ generatedTicket.lpn }}</h2>
      
      <hr>
      
      <div class="row text-start">
        <div class="col-6">
          <strong>Producto:</strong> {{ generatedTicket.productSku }}<br>
          <strong>Cantidad:</strong> {{ generatedTicket.quantity }} u.
        </div>
        <div class="col-6">
          <strong>Estado:</strong> <span class="badge bg-warning text-dark">{{ generatedTicket.status }}</span><br>
          <strong>Ubicación:</strong> {{ generatedTicket.locationCode }}
        </div>
      </div>
    </div>

  </div>
</div>